Repository charliebeckstrand/apps: changes, and which lint-staged commands are due for each by the changed paths.
All: scriptlint --fix, prettier --write, eslint --cache --no-ignore --fix --max-warnings=0

updated husky pre-commit
  .husky/pre-commit
Due: none

feat(config): added husky to package.json
  .lintstagedrc
  package.json
Due: scriptlint --fix, prettier --write

Removed scriptlint
  .scriptlintrc
  .yarn/install-state.gz
  commitlint.config.js
  package.json
  yarn.lock
Due: scriptlint --fix, prettier --write

updated file type from any to File
  packages/chat/components/conversation/Textarea.vue
Due: prettier --write, eslint --cache --no-ignore --fix --max-warnings=0

changed lintstaged config file from json to js format
  .lintstagedrc
  lint-staged.config.js
Due: prettier --write

updated tailwind config and postcss config to ESM format
  postcss.config.js
  tailwind.config.js
Due: prettier --write

added compatibilityDate to apps
  .yarn/install-state.gz
  package.json
  packages/base/nuxt.config.ts
  packages/chat/nuxt.config.ts
  packages/recipes/nuxt.config.ts
  packages/recipes/pages/create/index.vue
  packages/recipes/pages/index.vue
  packages/todo/nuxt.config.ts
  packages/translate/nuxt.config.ts
  packages/ui/nuxt.config.ts
  prettier.config.js
  yarn.lock
Due: scriptlint --fix, prettier --write, eslint --cache --no-ignore --fix --max-warnings=0

improvements to ui components
  packages/recipes/components/page/Layout.vue
  packages/recipes/components/recipe/Form.vue
  packages/recipes/public/dish.png
  packages/recipes/public/restaurant.png
  packages/ui/components/form/Group.vue
  packages/ui/components/form/Input.vue
  packages/ui/components/form/Item.vue
  packages/ui/composables/usePadding.ts
Due: prettier --write, eslint --cache --no-ignore --fix --max-warnings=0

remove todo app
  packages/todo/.gitignore
  packages/todo/README.md
  packages/todo/app.vue
  packages/todo/assets/css/fonts.scss
  packages/todo/assets/css/main.scss
  packages/todo/assets/css/styles.scss
  packages/todo/components/lanes/Index.vue
  packages/todo/components/lanes/Lane.vue
  packages/todo/components/page/Header.vue
  packages/todo/components/sidebar/Index.vue
  packages/todo/components/task/Index.vue
  packages/todo/layouts/default.vue
  packages/todo/nuxt.config.ts
  packages/todo/package.json
  packages/todo/pages/index.vue
  packages/todo/pages/settings.vue
  packages/todo/public/circle-grid.png
  packages/todo/public/grid.png
  packages/todo/public/rubber-ring.png
  packages/todo/public/sticky-note.png
  packages/todo/server/tsconfig.json
  packages/todo/stores/app.ts
  packages/todo/tailwind.config.ts
  packages/todo/tsconfig.json
  packages/todo/types/lane.ts
  packages/todo/types/task.ts
Due: scriptlint --fix, prettier --write, eslint --cache --no-ignore --fix --max-warnings=0

fixed textarea padding size
  .yarn/install-state.gz
  packages/chat/components/conversation/Textarea.vue
  packages/ui/components/form/Textarea.vue
  yarn.lock
Due: prettier --write, eslint --cache --no-ignore --fix --max-warnings=0

added match app
  .yarn/install-state.gz
  package.json
  packages/match/.gitignore
  packages/match/README.md
  packages/match/app.vue
  packages/match/assets/css/fonts.scss
  packages/match/assets/css/main.scss
  packages/match/assets/css/styles.scss
  packages/match/nuxt.config.ts
  packages/match/package.json
  packages/match/pages/index.vue
  packages/match/public/puzzle.png
  packages/match/public/robots.txt
  packages/match/server/tsconfig.json
  packages/match/tailwind.config.ts
  packages/match/tsconfig.json
  yarn.lock
Due: scriptlint --fix, prettier --write, eslint --cache --no-ignore --fix --max-warnings=0

Path conditions:
  scriptlint --fix: (any of: ./package.json) or (any of: packages/**/package.json)
  prettier --write: (any of: **/*.{js,json}) or (any of: **/*.{vue,ts})
  eslint --cache --no-ignore --fix --max-warnings=0: any of: **/*.{vue,ts}
